In [1]:
import pandas as pd
brickset = pd.read_csv('brickset.csv') #scraped data from Brickset
brickset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20774 entries, 0 to 20773
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Number            20774 non-null  object
 1   Theme             20774 non-null  object
 2   Subtheme          17070 non-null  object
 3   Year              20774 non-null  int64
 4   Set name          20774 non-null  object
 5   Minifigs          9059 non-null   float64
 6   Pieces            16270 non-null  float64
 7   RRP (GBP)         9833 non-null   float64
 8   RRP (USD)         12324 non-null  float64
 9   RRP (CAD)         6854 non-null   float64
 10  RRP (EUR)         5412 non-null   float64
 11  EAN               7574 non-null   float64
 12  UPC               7615 non-null   float64
 13  Width             8524 non-null   float64
 14  Height            8523 non-null   float64
 15  Depth             8518 non-null   float64
 16  Weight            4163 non-null   float64
 17  Notes             0 non-null      float64
 18  Qty owned         20774 non-null  int64
 19  Qty owned new     20774 non-null  int64
 20  Qty owned used    20774 non-null  int64
 21  Wanted            0 non-null      float64
 22  Qty wanted        20774 non-null  int64
 23  Priority          20774 non-null  int64
 24  Value new (USD)   13465 non-null  float64
 25  Value used (USD)  11990 non-null  float64
 26  Launch date       7744 non-null   object
 27  Exit date         7744 non-null   object
dtypes: float64(16), int64(6), object(6)
memory usage: 4.4+ MB

In [2]:
brickset.drop(columns = ['Notes','Wanted'],inplace = True) #these columns only contain null values so I don't need them

In [3]:
brickset[brickset['RRP (USD)'].isnull() & (brickset['RRP (GBP)'].notnull() | brickset['RRP (CAD)'].notnull() | brickset['RRP (EUR)'].notnull())] #there are rows with missing USD retail price which have prices in other currencies so I will need to convert those

,Number,Theme,Subtheme,Year,Set name,Minifigs,Pieces,RRP (GBP),RRP (USD),RRP (CAD),...,Weight,Qty owned,Qty owned new,Qty owned used,Qty wanted,Priority,Value new (USD),Value used (USD),Launch date,Exit date
589,127-1,Trains,4.5v,1969,Complete Train with 3 Wagons,NaN,575.0,7.40,NaN,NaN,...,NaN,0,0,0,0,0,NaN,150.97,NaN,NaN
1656,6501-1,Town,Vehicles,1987,Sport Convertible,1.0,30.0,1.50,NaN,NaN,...,NaN,0,0,0,0,0,79.99,4.92,NaN,NaN
1660,6523-1,Town,Medical,1987,Red Cross,1.0,51.0,1.50,NaN,NaN,...,NaN,0,0,0,0,0,104.71,9.07,NaN,NaN
1665,6808-1,Space,Classic,1987,Galaxy Trekkor,1.0,29.0,1.40,NaN,NaN,...,NaN,0,0,0,0,0,72.25,12.26,NaN,NaN
1666,6809-1,Space,Classic,1987,XT-5 and Droid,2.0,39.0,1.50,NaN,NaN,...,NaN,0,0,0,0,0,200.10,12.76,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20767,935-1,Basic,Supplementaries,1973,"Roof Bricks, 33Â°",NaN,43.0,0.52,NaN,NaN,...,NaN,0,0,0,0,0,17.78,6.55,NaN,NaN
20768,936-1,Basic,Supplementaries,1973,Wheels and Tyres,NaN,20.0,0.52,NaN,NaN,...,NaN,0,0,0,0,0,36.30,5.63,NaN,NaN
20769,937-1,Basic,Supplementaries,1973,Doors and Fences,NaN,34.0,0.52,NaN,NaN,...,NaN,0,0,0,0,0,18.12,5.33,NaN,NaN
20770,938-1,Basic,Supplementaries,1973,Hinges and Turntables,NaN,17.0,0.52,NaN,NaN,...,NaN,0,0,0,0,0,18.74,NaN,NaN,NaN
20771,939-1,Basic,Supplementaries,1973,"Flags, Trees and Road Signs",NaN,19.0,0.52,NaN,NaN,...,NaN,0,0,0,0,0,58.81,17.88,NaN,NaN

In [4]:
brickset[brickset['RRP (USD)'].isnull() & brickset['RRP (CAD)'].notnull()].info()

<class 'pandas.core.frame.DataFrame'>
Index: 13 entries, 4047 to 18157
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Number            13 non-null     object
 1   Theme             13 non-null     object
 2   Subtheme          12 non-null     object
 3   Year              13 non-null     int64
 4   Set name          13 non-null     object
 5   Minifigs          2 non-null      float64
 6   Pieces            4 non-null      float64
 7   RRP (GBP)         12 non-null     float64
 8   RRP (USD)         0 non-null      float64
 9   RRP (CAD)         13 non-null     float64
 10  RRP (EUR)         8 non-null      float64
 11  EAN               5 non-null      float64
 12  UPC               6 non-null      float64
 13  Width             12 non-null     float64
 14  Height            12 non-null     float64
 15  Depth             12 non-null     float64
 16  Weight            4 non-null      float64
 17  Qty owned         13 non-null     int64
 18  Qty owned new     13 non-null     int64
 19  Qty owned used    13 non-null     int64
 20  Qty wanted        13 non-null     int64
 21  Priority          13 non-null     int64
 22  Value new (USD)   1 non-null      float64
 23  Value used (USD)  1 non-null      float64
 24  Launch date       12 non-null     object
 25  Exit date         12 non-null     object
dtypes: float64(14), int64(6), object(6)
memory usage: 2.7+ KB

In [5]:
brickset[brickset['RRP (USD)'].isnull() & brickset['RRP (EUR)'].notnull()].info()

<class 'pandas.core.frame.DataFrame'>
Index: 331 entries, 2764 to 18411
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Number            331 non-null    object
 1   Theme             331 non-null    object
 2   Subtheme          324 non-null    object
 3   Year              331 non-null    int64
 4   Set name          331 non-null    object
 5   Minifigs          23 non-null     float64
 6   Pieces            51 non-null     float64
 7   RRP (GBP)         320 non-null    float64
 8   RRP (USD)         0 non-null      float64
 9   RRP (CAD)         8 non-null      float64
 10  RRP (EUR)         331 non-null    float64
 11  EAN               208 non-null    float64
 12  UPC               69 non-null     float64
 13  Width             42 non-null     float64
 14  Height            42 non-null     float64
 15  Depth             42 non-null     float64
 16  Weight            11 non-null     float64
 17  Qty owned         331 non-null    int64
 18  Qty owned new     331 non-null    int64
 19  Qty owned used    331 non-null    int64
 20  Qty wanted        331 non-null    int64
 21  Priority          331 non-null    int64
 22  Value new (USD)   47 non-null     float64
 23  Value used (USD)  37 non-null     float64
 24  Launch date       40 non-null     object
 25  Exit date         40 non-null     object
dtypes: float64(14), int64(6), object(6)
memory usage: 69.8+ KB

In [6]:
brickset[brickset['RRP (USD)'].isnull() & brickset['RRP (GBP)'].notnull()].info()

<class 'pandas.core.frame.DataFrame'>
Index: 950 entries, 589 to 20771
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Number            950 non-null    object
 1   Theme             950 non-null    object
 2   Subtheme          790 non-null    object
 3   Year              950 non-null    int64
 4   Set name          950 non-null    object
 5   Minifigs          151 non-null    float64
 6   Pieces            431 non-null    float64
 7   RRP (GBP)         950 non-null    float64
 8   RRP (USD)         0 non-null      float64
 9   RRP (CAD)         12 non-null     float64
 10  RRP (EUR)         320 non-null    float64
 11  EAN               319 non-null    float64
 12  UPC               114 non-null    float64
 13  Width             133 non-null    float64
 14  Height            133 non-null    float64
 15  Depth             133 non-null    float64
 16  Weight            21 non-null     float64
 17  Qty owned         950 non-null    int64
 18  Qty owned new     950 non-null    int64
 19  Qty owned used    950 non-null    int64
 20  Qty wanted        950 non-null    int64
 21  Priority          950 non-null    int64
 22  Value new (USD)   294 non-null    float64
 23  Value used (USD)  299 non-null    float64
 24  Launch date       127 non-null    object
 25  Exit date         127 non-null    object
dtypes: float64(14), int64(6), object(6)
memory usage: 200.4+ KB

In [7]:
brickset['RRP (USD from GBP)'] = brickset['RRP (GBP)']*1.25 #FX for the day of scraping from Google
brickset['RRP (USD)'] = brickset[['RRP (USD)','RRP (USD from GBP)']].bfill(axis=1).iloc[:, 0] #keeping primarily the original USD value and only replacing nulls
brickset.drop(columns='RRP (USD from GBP)',inplace=True)
brickset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20774 entries, 0 to 20773
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Number            20774 non-null  object
 1   Theme             20774 non-null  object
 2   Subtheme          17070 non-null  object
 3   Year              20774 non-null  int64
 4   Set name          20774 non-null  object
 5   Minifigs          9059 non-null   float64
 6   Pieces            16270 non-null  float64
 7   RRP (GBP)         9833 non-null   float64
 8   RRP (USD)         13274 non-null  float64
 9   RRP (CAD)         6854 non-null   float64
 10  RRP (EUR)         5412 non-null   float64
 11  EAN               7574 non-null   float64
 12  UPC               7615 non-null   float64
 13  Width             8524 non-null   float64
 14  Height            8523 non-null   float64
 15  Depth             8518 non-null   float64
 16  Weight            4163 non-null   float64
 17  Qty owned         20774 non-null  int64
 18  Qty owned new     20774 non-null  int64
 19  Qty owned used    20774 non-null  int64
 20  Qty wanted        20774 non-null  int64
 21  Priority          20774 non-null  int64
 22  Value new (USD)   13465 non-null  float64
 23  Value used (USD)  11990 non-null  float64
 24  Launch date       7744 non-null   object
 25  Exit date         7744 non-null   object
dtypes: float64(14), int64(6), object(6)
memory usage: 4.1+ MB

In [8]:
brickset['RRP (USD from EUR)'] = brickset['RRP (EUR)']*1.08 #FX for the day of scraping from Google
brickset['RRP (USD)'] = brickset[['RRP (USD)','RRP (USD from EUR)']].bfill(axis=1).iloc[:, 0]
brickset.drop(columns='RRP (USD from EUR)',inplace=True)
brickset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20774 entries, 0 to 20773
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Number            20774 non-null  object
 1   Theme             20774 non-null  object
 2   Subtheme          17070 non-null  object
 3   Year              20774 non-null  int64
 4   Set name          20774 non-null  object
 5   Minifigs          9059 non-null   float64
 6   Pieces            16270 non-null  float64
 7   RRP (GBP)         9833 non-null   float64
 8   RRP (USD)         13285 non-null  float64
 9   RRP (CAD)         6854 non-null   float64
 10  RRP (EUR)         5412 non-null   float64
 11  EAN               7574 non-null   float64
 12  UPC               7615 non-null   float64
 13  Width             8524 non-null   float64
 14  Height            8523 non-null   float64
 15  Depth             8518 non-null   float64
 16  Weight            4163 non-null   float64
 17  Qty owned         20774 non-null  int64
 18  Qty owned new     20774 non-null  int64
 19  Qty owned used    20774 non-null  int64
 20  Qty wanted        20774 non-null  int64
 21  Priority          20774 non-null  int64
 22  Value new (USD)   13465 non-null  float64
 23  Value used (USD)  11990 non-null  float64
 24  Launch date       7744 non-null   object
 25  Exit date         7744 non-null   object
dtypes: float64(14), int64(6), object(6)
memory usage: 4.1+ MB

In [9]:
brickset[brickset['RRP (USD)'].isnull() & (brickset['RRP (GBP)'].notnull() | brickset['RRP (CAD)'].notnull() | brickset['RRP (EUR)'].notnull())] #we have all the prices in USD now, no need to convert CAD

Empty DataFrame
Columns: [Number, Theme, Subtheme, Year, Set name, Minifigs, Pieces, RRP (GBP), RRP (USD), RRP (CAD), RRP (EUR), EAN, UPC, Width, Height, Depth, Weight, Qty owned, Qty owned new, Qty owned used, Qty wanted, Priority, Value new (USD), Value used (USD), Launch date, Exit date]
Index: []

[0 rows x 26 columns]

In [10]:
brickset.drop(columns=['RRP (GBP)','RRP (CAD)','RRP (EUR)'],inplace=True)
brickset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20774 entries, 0 to 20773
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Number            20774 non-null  object
 1   Theme             20774 non-null  object
 2   Subtheme          17070 non-null  object
 3   Year              20774 non-null  int64
 4   Set name          20774 non-null  object
 5   Minifigs          9059 non-null   float64
 6   Pieces            16270 non-null  float64
 7   RRP (USD)         13285 non-null  float64
 8   EAN               7574 non-null   float64
 9   UPC               7615 non-null   float64
 10  Width             8524 non-null   float64
 11  Height            8523 non-null   float64
 12  Depth             8518 non-null   float64
 13  Weight            4163 non-null   float64
 14  Qty owned         20774 non-null  int64
 15  Qty owned new     20774 non-null  int64
 16  Qty owned used    20774 non-null  int64
 17  Qty wanted        20774 non-null  int64
 18  Priority          20774 non-null  int64
 19  Value new (USD)   13465 non-null  float64
 20  Value used (USD)  11990 non-null  float64
 21  Launch date       7744 non-null   object
 22  Exit date         7744 non-null   object
dtypes: float64(11), int64(6), object(6)
memory usage: 3.6+ MB

In [11]:
bricklink = pd.read_csv('bricklink.csv')
bricklink.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15023 entries, 0 to 15022
Data columns (total 25 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   set_num                           15023 non-null  object
 1   last_6_months_new_total_lots      9354 non-null   float64
 2   last_6_months_new_total_qty       9354 non-null   float64
 3   last_6_months_new_min_price       9354 non-null   float64
 4   last_6_months_new_avg_price       9354 non-null   object
 5   last_6_months_new_qty_avg_price   9354 non-null   object
 6   last_6_months_new_max_price       9354 non-null   object
 7   last_6_months_used_total_lots     8304 non-null   float64
 8   last_6_months_used_total_qty      8304 non-null   float64
 9   last_6_months_used_min_price      8304 non-null   float64
 10  last_6_months_used_avg_price      8304 non-null   object
 11  last_6_months_used_qty_avg_price  8304 non-null   object
 12  last_6_months_used_max_price      8304 non-null   object
 13  current_new_total_lots            12010 non-null  float64
 14  current_new_total_qty             12010 non-null  float64
 15  current_new_min_price             12010 non-null  float64
 16  current_new_avg_price             12010 non-null  object
 17  current_new_qty_avg_price         12010 non-null  object
 18  current_new_max_price             12010 non-null  object
 19  current_used_total_lots           11390 non-null  float64
 20  current_used_total_qty            11390 non-null  float64
 21  current_used_min_price            11390 non-null  float64
 22  current_used_avg_price            11390 non-null  object
 23  current_used_qty_avg_price        11390 non-null  object
 24  current_used_max_price            11390 non-null  object
dtypes: float64(12), object(13)
memory usage: 2.9+ MB

In [12]:
bricklink.drop(columns=['last_6_months_new_total_lots','last_6_months_new_min_price','last_6_months_new_avg_price','last_6_months_new_max_price','current_new_total_lots','current_new_min_price','current_new_max_price','current_new_avg_price','last_6_months_used_total_lots','last_6_months_used_min_price','last_6_months_used_avg_price','last_6_months_used_max_price','current_used_total_lots','current_used_min_price','current_used_avg_price','current_used_max_price'],inplace=True)
bricklink.info() #I got rid of columns which we will not need for our analyses

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15023 entries, 0 to 15022
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   set_num                           15023 non-null  object
 1   last_6_months_new_total_qty       9354 non-null   float64
 2   last_6_months_new_qty_avg_price   9354 non-null   object
 3   last_6_months_used_total_qty      8304 non-null   float64
 4   last_6_months_used_qty_avg_price  8304 non-null   object
 5   current_new_total_qty             12010 non-null  float64
 6   current_new_qty_avg_price         12010 non-null  object
 7   current_used_total_qty            11390 non-null  float64
 8   current_used_qty_avg_price        11390 non-null  object
dtypes: float64(4), object(5)
memory usage: 1.0+ MB

In [13]:
#data cleaning to convert the prices into floats instead of strings
bricklink['last_6_months_new_qty_avg_price'] = bricklink['last_6_months_new_qty_avg_price'].str.strip('USÂ $')
bricklink['last_6_months_new_qty_avg_price'] = bricklink['last_6_months_new_qty_avg_price'].str.replace(',','').astype(float)
bricklink['last_6_months_used_qty_avg_price'] = bricklink['last_6_months_used_qty_avg_price'].str.strip('USÂ $')
bricklink['last_6_months_used_qty_avg_price'] = bricklink['last_6_months_used_qty_avg_price'].str.replace(',','').astype(float)
bricklink['current_new_qty_avg_price'] = bricklink['current_new_qty_avg_price'].str.strip('USÂ $')
bricklink['current_new_qty_avg_price'] = bricklink['current_new_qty_avg_price'].str.replace(',','').astype(float)
bricklink['current_used_qty_avg_price'] = bricklink['current_used_qty_avg_price'].str.strip('USÂ $')
bricklink['current_used_qty_avg_price'] = bricklink['current_used_qty_avg_price'].str.replace(',','').astype(float)
bricklink.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15023 entries, 0 to 15022
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   set_num                           15023 non-null  object
 1   last_6_months_new_total_qty       9354 non-null   float64
 2   last_6_months_new_qty_avg_price   9354 non-null   float64
 3   last_6_months_used_total_qty      8304 non-null   float64
 4   last_6_months_used_qty_avg_price  8304 non-null   float64
 5   current_new_total_qty             12010 non-null  float64
 6   current_new_qty_avg_price         12010 non-null  float64
 7   current_used_total_qty            11390 non-null  float64
 8   current_used_qty_avg_price        11390 non-null  float64
dtypes: float64(8), object(1)
memory usage: 1.0+ MB

In [14]:
bsbl_data = pd.merge(brickset,bricklink,how='outer',left_on = 'Number', right_on = 'set_num')
bsbl_data[bsbl_data['Number'].isnull()]

Empty DataFrame
Columns: [Number, Theme, Subtheme, Year, Set name, Minifigs, Pieces, RRP (USD), EAN, UPC, Width, Height, Depth, Weight, Qty owned, Qty owned new, Qty owned used, Qty wanted, Priority, Value new (USD), Value used (USD), Launch date, Exit date, set_num, last_6_months_new_total_qty, last_6_months_new_qty_avg_price, last_6_months_used_total_qty, last_6_months_used_qty_avg_price, current_new_total_qty, current_new_qty_avg_price, current_used_total_qty, current_used_qty_avg_price]
Index: []

[0 rows x 32 columns]

In [15]:
bsbl_data.drop(columns = 'set_num',inplace=True)
bsbl_data.rename(columns = {'Number':'bsbl_id','Theme':'bs_theme','Subtheme':'bs_subtheme','Year':'bs_year','Set name':'bs_name','Minifigs':'bs_minifigures','Pieces':'bs_pieces','RRP (USD)':'bs_rrp','Qty owned':'bs_owned','Qty owned new':'bs_owned_new','Qty owned used':'bs_owned_used','Qty wanted':'bs_wanted','Value new (USD)':'bs_value_new','Value used (USD)':'bs_value_used','last_6_months_new_total_qty':'bl_sold_qty_new','last_6_months_new_qty_avg_price':'bl_sold_avgprice_new','last_6_months_used_total_qty':'bl_sold_qty_used','last_6_months_used_qty_avg_price':'bl_sold_avgprice_used','current_new_total_qty':'bl_offer_qty_new','current_used_total_qty':'bl_offer_qty_used','current_new_qty_avg_price':'bl_offer_avgprice_new','current_used_qty_avg_price':'bl_offer_avgprice_used'},inplace=True)
bsbl_data.drop(columns = ['EAN','UPC','Width','Height','Depth','Weight','Priority','Launch date','Exit date'],inplace=True)
bsbl_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20774 entries, 0 to 20773
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   bsbl_id                 20774 non-null  object
 1   bs_theme                20774 non-null  object
 2   bs_subtheme             17070 non-null  object
 3   bs_year                 20774 non-null  int64
 4   bs_name                 20774 non-null  object
 5   bs_minifigures          9059 non-null   float64
 6   bs_pieces               16270 non-null  float64
 7   bs_rrp                  13285 non-null  float64
 8   bs_owned                20774 non-null  int64
 9   bs_owned_new            20774 non-null  int64
 10  bs_owned_used           20774 non-null  int64
 11  bs_wanted               20774 non-null  int64
 12  bs_value_new            13465 non-null  float64
 13  bs_value_used           11990 non-null  float64
 14  bl_sold_qty_new         9354 non-null   float64
 15  bl_sold_avgprice_new    9354 non-null   float64
 16  bl_sold_qty_used        8304 non-null   float64
 17  bl_sold_avgprice_used   8304 non-null   float64
 18  bl_offer_qty_new        12010 non-null  float64
 19  bl_offer_avgprice_new   12010 non-null  float64
 20  bl_offer_qty_used       11390 non-null  float64
 21  bl_offer_avgprice_used  11390 non-null  float64
dtypes: float64(13), int64(5), object(4)
memory usage: 3.5+ MB

In [16]:
bsbl_data.to_csv('bsbl_data.csv',index=False)